.projects {
  img {
    @include for-desktop() {
      max-width: 77rem;
      margin: 0 auto;
    }
    @include for-desktop-lg() {
      max-width: 50rem;
    }
  }
  display: flex;
  .mockups {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    @include for-desktop() {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
