---
import CtaBtn from "./CtaBtn.astro"
const {sectionTitle,sectionBtn, sectionBtnLink} = Astro.props;
---
<section class="conversion">
  <h2 class="conversion__title">
    {sectionTitle}
  </h2>
  <CtaBtn target="_blank" link={sectionBtnLink} args="center" title={sectionBtn} style="light"/>
</section>