---
import Image from "astro/components/Image.astro";
import Section from "./Section.astro";
import faq_illustration from '../assets/images/faqImg.svg';
import { Icon } from 'astro-icon/components';
const questions = [{

question:"How long to build a custom website",
answer:"The timeline for building a custom website depends on the complexity and specific requirements of your project. Typically, a custom website can take anywhere from 4 to 12 weeks from the initial consultation to the final launch.",
id: 1
},
{

question:"Will my website be mobile-friendly",
answer:"The timeline for building a custom website depends on the complexity and specific requirements of your project. Typically, a custom website can take anywhere from 4 to 12 weeks from the initial consultation to the final launch.",
id:2
},
{

question:"How much does a custom website cost",
answer:"The timeline for building a custom website depends on the complexity and specific requirements of your project. Typically, a custom website can take anywhere from 4 to 12 weeks from the initial consultation to the final launch.",
id:3
},
{

question:"How do you ensure my website loads quickly",
answer:"The timeline for building a custom website depends on the complexity and specific requirements of your project. Typically, a custom website can take anywhere from 4 to 12 weeks from the initial consultation to the final launch.",
id:4
},
]


---

<Section sectionTitle="Frequently Asked Questions" sectionID="faq" subHeadline="Find Answers Quickly">

<div class="faq__desktop">
  <div class="faq__list">
    {questions.map((q,idx) => {      
      return(
      <dl class="faq__list-item">
        <div class="faq__list-item-question-container"  >
          <dt class="faq__list-item-question" data-question-id={idx + 1}>Q: {q.question}</dt>
          <Icon name="drop" size={30} class="faq__list-item-icon"/>
        </div>
        <dd class="faq__list-item-answer" data-question-id={idx + 1}>{q.answer}</dd>
      </dl>
      )
    })}
  </div>
  <div class="faq__illustration">
    <Image  src={faq_illustration} alt="illustration for the frequently asked section" class="full-width"/>
   </div>
</div>
 
</Section>


<script>

const questions = [{

question:"How long to build a custom website",
answer:"The timeline for building a custom website depends on the complexity and specific requirements of your project. Typically, a custom website can take anywhere from 4 to 12 weeks from the initial consultation to the final launch.",
id: 1
},
{

question:"How long to build a custom website",
answer:"The timeline for building a custom website depends on the complexity and specific requirements of your project. Typically, a custom website can take anywhere from 4 to 12 weeks from the initial consultation to the final launch.",
id:2
},
{

question:"How long to build a custom website",
answer:"The timeline for building a custom website depends on the complexity and specific requirements of your project. Typically, a custom website can take anywhere from 4 to 12 weeks from the initial consultation to the final launch.",
id:3
},
{

question:"How long to build a custom website",
answer:"The timeline for building a custom website depends on the complexity and specific requirements of your project. Typically, a custom website can take anywhere from 4 to 12 weeks from the initial consultation to the final launch.",
id:4
},
]

    const faqList = document.querySelector(".faq__list");
  faqList.addEventListener("click", (evnt) => {
    const targetEl = evnt.target;
    // Guard Clause
    if (!(targetEl instanceof Element) ||  !targetEl.classList.contains("faq__list-item-question")) return;
    console.log(targetEl)
    const findQuestionId= (el) => +el.getAttribute('data-question-id');
    const answer = questions.filter((question) => question.id === findQuestionId(targetEl))
  
    const answerEl = document.querySelector(`.faq__list-item-answer[data-question-id="${answer[0].id}"]`);
    answerEl.classList.toggle('show-question');

})

 
</script>