---
import { Image } from 'astro:assets'
import Cta from './CtaBtn.astro'
import mainImg from '../assets/images/mainImg.svg';

---

<section id="home" class="hero">
  <div class="hero__title">
    <h1 class="hero__title-main">
      We build websites that <span class="accent">convert</span> visitors into customers
    </h1>
    <p class="hero__description">
      We develop custom software solutions,
      designed to optimize your business and
      accelerate growth.
    </p>
    <div class="hero__call-to-actions">
      <Cta title="Get Started Now" style="dark" link="https://calendly.com/stefanovidmarmarketingagency/free-website-consultation"/>
      <Cta title="Free Website Review" style="light" outline="btn-outline"  link="/review"/>
    </div>
    <div class="hero__social-proof">
      <!-- <Icon name="social_proof"/> -->
    </div>
  </div>
  <div class="hero__illustration">
    <Image src={mainImg} alt="My Image" class='full-width'/>
  </div>
</section>