---
import { Icon } from "astro-icon/components";
const navlinks = [
  {
    title: 'Home',
    url: '#home',
    index: '01',
  },
  {
    title: 'Consultation',
    url: 'https://calendly.com/stefanovidmarmarketingagency/free-website-consultation',
    index: '02',
  },
  {
    title: 'Services',
    url: '#services',
    index:'03',
  },
  
  {
    title: 'Projects',
    url: '#projects',
    index: '04',
  },
  {
    title: 'Website Review',
    url: '/review',
    index: '05',
  },
]
---
<nav class="navigation">
    <a href="#home" >
      <svg width="32" height="32" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.18 7.32H6.26V8.7H1.18V7.32ZM0.38 1.96H7.18V9.46H5.74V3.36H0.38V1.96ZM0.38 7.32H1.84V13.7C1.84 14.34 1.98 14.44 2.82 14.44C3.2 14.44 5.14 14.44 5.64 14.44C6.36 14.44 6.48 14.12 6.56 12.08C6.88 12.34 7.5 12.58 7.92 12.68C7.74 15.22 7.32 15.86 5.76 15.86C5.36 15.86 3.04 15.86 2.66 15.86C0.88 15.86 0.38 15.42 0.38 13.72V7.32ZM10 3.88H18.24V5.3H10V3.88ZM10.52 0.219999L12.08 0.479999C11.3 4.1 10 7.42 8.26 9.58C7.96 9.32 7.3 8.86 6.92 8.64C8.68 6.66 9.88 3.54 10.52 0.219999ZM15.2 4.44L16.72 4.62C15.6 12.08 13.04 16.24 7.1 18.68C6.94 18.34 6.48 17.68 6.18 17.34C11.9 15.28 14.24 11.36 15.2 4.44ZM10.6 5.16C11.68 10.84 14.02 15.42 18.48 17.3C18.14 17.6 17.66 18.18 17.42 18.6C12.78 16.42 10.44 11.66 9.22 5.42L10.6 5.16Z" fill="white"/>
        </svg>
        
    </a>
    <div class="navigation__wrapper">
      <button class="navigation__menu" aria-expanded="false" aria-label="Open Mobile Navigation">
          <span class="hamburger-menu-dash"></span>
          <span class="hamburger-menu-dash"></span>
          <span class="hamburger-menu-dash"></span>
       </button>
       <ul class="navigation__list">
        {
          navlinks.map((link) => {
            return(
            <li class="navigation__list-item">
          <a href={link.url}>{link.title}</a>
            </li>
          )})
        }
      </ul>
    </div>
</nav>


<script>
  if(window.innerWidth <= 768){
    const mobileNav = () => {
  const navLinks = document.querySelectorAll(".navigation__list-item");
  const navBtn = document.querySelector(".navigation__menu");
  const navDrawer = document.querySelector(".navigation__list");
  const toggleDrawer = () => {
  navBtn.setAttribute('aria-expanded', navBtn.getAttribute('aria-expanded') === "false" ? 'true' : 'false')
  navDrawer.classList.toggle("hidden");
  navDrawer.classList.toggle("show");
  navBtn.classList.toggle('menu-open');
  document.body.classList.toggle("overflow-hidden")
}

navBtn.addEventListener("click", toggleDrawer);
navLinks.forEach((link) => {
  link.addEventListener("click", toggleDrawer);
})

}
document.addEventListener('astro:page-load', mobileNav);
}

</script>