---
import testimonial from "../assets/images/testimonial_1.png";
import { Image } from 'astro:assets';
---

<div class="review__testimonials">
  <h2 class="review__testimonials-title">What people said about our website reviews 👇</h2>
  <div class="review__testimonials-imgs">


 <Image src={testimonial} alt="testimonial image of a satisfied client with our service"/>

  </div>
  
</div>